@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.slider {
  max-width: 1200px;
  width: 100%;
  margin-top: 40px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider_link {
  text-decoration: none;
}
.slide {
  display: none;
  width: 100%;
}
.slide_img {
  width: 100%;
}
.slide_title {
  margin: -85px 0 0 0;
  padding: 20px 60px;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slide_description {
  background-color: #1d9cd8;
  padding: 10px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
}
.slide_description_title {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1;
}
.slide_description_text {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin: 2px 0 0 0;
  text-transform: uppercase;
  line-height: 1;
}
.activeSlide {
  display: block;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pagination_item {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #1d9cd8;
  margin: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pagination_item:hover {
  cursor: pointer;
}
.activePagination {
  background-color: #000000;
}
.black {
  color: #000000;
}
.blue {
  color: #1d9cd8;
}
.white {
  color: #ffffff;
}
.goods {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.goods_item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.goods_item_link {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #1d9cd8;
}
.goods_item_link:hover {
  color: #000000;
}
.goods_image {
  width: 50%;
}
.goods_img {
  max-width: 600px;
  max-height: 600px;
  display: none;
}
.active {
  color: #000000;
}
.img_active {
  display: block;
}
footer {
  width: 100%;
  margin-top: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_tel {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_tel_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer_tel_info_number {
  margin-bottom: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 1;
  letter-spacing: normal;
  cursor: pointer;
}
.footer_tel_info_number:hover {
  text-decoration: underline;
}
.footer_tel_info_text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 1;
  letter-spacing: normal;
}
.footer_nav {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_nav_navigation {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 205px;
}
.footer_nav_navigation_link {
  text-decoration: none;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer_nav_navigation_link_text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 1;
}
.footer_nav_navigation_link:hover .footer_nav_navigation_link_text {
  color: #1d9cd8;
  opacity: 50%;
}
.footer_nav_about {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 205px;
}
.footer_nav_about_link {
  text-decoration: none;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer_nav_about_link_text {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 1;
}
.footer_nav_about_link_text:after {
  position: absolute;
  content: "";
  margin-left: 6px;
  margin-bottom: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7px;
  height: 7px;
  top: 0;
  border: solid black;
  border-width: 1px 1px 0 0;
  display: inline-block;
}
.footer_nav_about_link_text:before {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  top: -3px;
  border: solid black;
  border-width: 0 1px 0 0;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.footer_nav_about_link:hover .footer_nav_about_link_text {
  color: #1d9cd8;
  opacity: 50%;
}
.company:before {
  left: 92px;
}
.company:after {
  left: 92px;
}
.contact:before {
  left: 75px;
}
.contact:after {
  left: 75px;
}
.salon:before {
  left: 60px;
}
.salon:after {
  left: 60px;
}
.news:before {
  left: 65px;
}
.news:after {
  left: 65px;
}
.copyright {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
}
.copyright_text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 1;
  text-transform: uppercase;
}
body {
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
